app/__pycache__/__init__.cpython-314.pyc
app/core/__pycache__/database.cpython-314.pyc
app/models/__pycache__/accounts.cpython-314.pyc
account-service/app/__pycache__/__init__.cpython-314.pyc

# .NET build output and IDE files
**/bin/
**/obj/
.vs/
account-service/app/__pycache__/__init__.cpython-314.pyc
account-service/app/models/__pycache__/accounts.cpython-314.pyc
account-service/tests/__pycache__/test_accounts.cpython-314-pytest-9.1.1.pyc
account-service/app/__pycache__/__init__.cpython-314.pyc
supplier-service/__pycache__/__init__.cpython-314.pyc
supplier-service/__pycache__/database.cpython-314.pyc
supplier-service/__pycache__/supplier_service.cpython-314.pyc
supplier-service/__pycache__/supplier.cpython-314.pyc
supplier-service/__pycache__/validator.cpython-314.pyc
supplier-service/alembic/script.py.mako
supplier-service/alembic/__pycache__/env.cpython-314.pyc
supplier-service/alembic/versions/__pycache__/1e6a0fc2d34f_suppliers.cpython-314.pyc
supplier-service/alembic/versions/__pycache__/08aab965c0c9_create_suppliers.cpython-314.pyc
supplier-service/tests/__pycache__/test_suppliers.cpython-314-pytest-9.1.1.pyc
product-service/ProductService.Api/ProductService.Api.http

account-service/app/__pycache__/__init__.cpython-314.pyc
